.Nav {
    display: flex;
    justify-content: space-around;
    margin-top: 27px;
    align-items: center;
    background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  }
  .navMenu {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    align-items: center;
  }
  .navMenu > h1 {
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #434343;
  }
  .metaImg {
    width: 233px;
    height: 36.67px;
  }
  .connect {
    width: 170px;
    height: 48px;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
    border-radius: 10px;
    border: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  }
  @media (max-width: 1100px) {
    .navMenu {
      gap: 30px;
    }
  }
  @media (max-width: 900px) {
    .navMenu {
      gap: 20px;
    }
    .navMenu > h1 {
      font-size: 17px;
    }
  }
  @media (max-width: 800px) {
    .navMenu {
      gap: 17px;
    }
  }
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
    .navMenu {
      position: fixed;
      opacity: 0;
      top: 70px;
      flex-direction: column;
      gap: 15px;
      transition: 0.4s;
    }
    .navMenu-NX {
      opacity: 1;
    }
    .navMenus {
      position: fixed;
      opacity: 0;
      top: 270px;
      gap: 10px;
      transition: 0.4s;
    }
    .navMenus-NX {
      opacity: 1;
    }
    
  }